<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Automation Testing">
        <classes>
            <class name="testScripts.login.TC_LF_001"/>
            <class name="testScripts.register.TC_RF_001"/>
        </classes>
    </test>
</suite>